<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="linkar">


<head>
    <title>Linkar</title>

</head>

<body ng-controller="ProductController">


        <input type="text" id="name" ng-model="product.name" /><br/>
        <input type="text" id="price" ng-model="product.price" /><br/>

        <select ng-model="product.storeId">
            <option value="{{store.id}}" ng-repeat="store in stores">{{store.name}}</option>
        </select>

        <button ng-click="linkar()">salvar</button>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript">

        angular.module('linkar', []).controller('ProductController', function ($scope, $http) {

            $scope.stores = $http.get('/store').success(function (data) {
                $scope.stores = data;
            });

            $scope.linkar = function () {
                $http.post('/api/v1/product', $scope.product);
            }


        });

    </script>

</body>


</html>