<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="linkar">


<head>
    <title>Linkar</title>

</head>

<body ng-controller="ProductController">


        <input type="text" id="name" ng-model="product.name" /><br/>
        <input type="text" id="price" ng-model="product.price" /><br/>

        <select ng-model="product.storeId">
            <option value="{{store.id}}" ng-repeat="store in storeList">{{store.name}}</option>
        </select>

        <button ng-click="salvar()">salvar</button>

        <div id="pnl_message">{{mensagem}}</div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/app.js"></script>


</body>


</html>