<!DOCTYPE html>
<html ng-app="linkar">

<head>
    <title>Linkar</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body ng-controller="ProductController">

<div class="container">

    <ul class="list-group">


        <div ng-repeat="product in productList" class="row list-group-item">
            <div class="col-sm-5">
                <img src="/img/logo_linkar.png"/>
            </div>
            <div class="col-sm-5">
                <h3>{{product.name}}</h3>

                <h4>R$ {{product.price}}</h4>

            </div>
            <div class="col-sm-2">
                <a href="/checkout/{{product.storeId}}/{{product.id}}">
                    <img src="/qrcode/{{product.storeId}}/{{product.id}}" />
                </a>
            </div>
        </div>


    </ul>

    <div id="pnl_message">{{mensagem}}</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/controller/ProductController.js"></script>

</body>


</html>