<!DOCTYPE html>
<html ng-app="linkar">


<head>
    <title>Linkar</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body ng-controller="StoreController">

<div class="container">

    <h1>Nova Loja</h1>

    <div class="form-group">
        <label for="name" >name:</label>
        <input type="text" id="name" ng-model="store.name" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="description">description:</label>
        <input type="text" id="description" ng-model="store.description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="address">address:</label>
        <input type="text" id="address" ng-model="store.address" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="phones">phones:</label>
        <input type="text" id="phones" ng-model="store.phones" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="email">email:</label>
        <input type="text" id="email" ng-model="store.email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="url">url:</label>
        <input type="text" id="url" ng-model="store.url" class="form-control"/>
    </div>


    <button ng-click="salvar()" class="btn btn-primary">salvar</button>

    <div id="pnl_message">{{mensagem}}</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/controller/StoreController.js"></script>

</div>

</body>


</html>