<!DOCTYPE html>
<html ng-app="linkar">

<head>
    <title>Linkar</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body ng-controller="ProductController">

<div class="container">

    <div class="list-group">
        <a href="#" ng-repeat="product in productList" class="list-group-item">
            {{product.name}}
        </a>
    </div>

    <div id="pnl_message">{{mensagem}}</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/controller/ProductController.js"></script>

</body>


</html>