<div class="middle-box text-center loginscreen  animated fadeInDown">

    <div class="alert alert-danger" ng-show="error">
  	   There was a problem logging in. Please try again.
     </div>

    <div>
        <div>
            <h1 class="logo-name">linkar</h1>
        </div>
        <h3>Bem vindo ao Linkar</h3>
        <p>Para ter acesso às funcionalidades você precisa se autenticar com seu e-mail e senha cadastrados.
        </p>
        <form class="m-t" role="form" ng-submit="vm.login()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="" id="username" name="username" ng-model="vm.credentials.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" id="password" name="password" ng-model="vm.credentials.password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

        </form>
        <p class="m-t"> <small>clibelinkar.com.br &copy; 2016</small> </p>
    </div>
</div>
