<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" >
                    <a ui-sref="index.main">
                      <span class="clear">
                        <span class=" block">linkar</span>
                      </span>
                    </a>

                </div>
                <div class="logo-element">
                    linkar
                </div>

            </li>

            <li ui-sref-active="active">
                <a><i class="fa fa-gift"></i>
                  <span class="nav-label">Produtos</span>
                  <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level">
                    <li class="active">
                      <a ui-sref="product.main">
                        <i class="fa fa-desktop"></i>
                        Exibir
                      </a>
                    </li>
                    <li>
                      <a ui-sref="product.form">
                        <i class="fa fa-cogs"></i>
                        Cadastrar
                      </a>
                    </li>
                </ul>

            </li>

            <li ui-sref-active="active">
                <a><i class="fa fa-building-o"></i>
                  <span class="nav-label">Lojas</span>
                  <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level">
                    <li class="active">
                      <a ui-sref="store.main">
                        <i class="fa fa-desktop"></i>
                        Exibir
                      </a>
                    </li>
                    <li>
                      <a ui-sref="store.form">
                        <i class="fa fa-cogs"></i>
                        Cadastrar
                      </a>
                    </li>
                </ul>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="user.main"><i class="fa fa-users"></i> <span class="nav-label">Usuários</span></a>
            </li>





        </ul>

    </div>
</nav>
