<!DOCTYPE html>
<html ng-app="linkar">


<head>
    <title>Linkar</title>
</head>

<body ng-controller="StoreController">

    name: <input type="text" id="name" ng-model="store.name" /><br/>
    description: <input type="text" id="description" ng-model="store.description" /><br/>
    address: <input type="text" id="address" ng-model="store.address" /><br/>
    phones: <input type="text" id="phones" ng-model="store.phones" /><br/>
    email: <input type="text" id="email" ng-model="store.email" /><br/>
    url: <input type="text" id="url" ng-model="store.url" /><br/>

    <button ng-click="salvar()">salvar</button>

    <div id="pnl_message">{{mensagem}}</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" ></script>
    <script src="/app.js" ></script>

</body>


</html>