<div class="container">

  <div id="pnl_message">{{message}}</div>

  <form name="orderForm" ng-submit="vm.save()">

    <div class = "row">
        <div class = "center-block" style = "width:400px;">
            <!-- <img src="/img/logo_linkar.png" alt="Linkar" /> -->
        </div>
    </div>

    <hr />

    <fieldset class="fieldset">
        <legend>Autenticação do Cliente</legend>

        <div class="form-group">
            <label for="userEmail">e-mail:</label>
            <input type="text" id="userEmail" ng-model="order.userEmail" class="form-control" placeholder="seu@email.com"/>
        </div>

        <div class="form-group">
            <label for="userPassword">senha:</label>
            <input type="password" id="userPassword" ng-model="order.userPassword" class="form-control"/>
        </div>

    </fieldset>

    <hr />

    <fieldset class="fieldset">
        <legend>Autenticação {{order.storeName}}</legend>

        <input type="hidden" id="storeId" ng-model="order.storeId" class="form-control"/>

        <div class="form-group">
            <label for="storePassword">Password:</label>
            <input type="password" id="storePassword" ng-model="order.storePassword" class="form-control"/>
        </div>

    </fieldset>

    <hr />

    <fieldset class="fieldset">
        <legend>Dados da compra</legend>

        <input type="hidden" id="productId" ng-model="order.productId" class="form-control"/>

        <div class="form-group">
            <label for="productName">Produto:</label>
            <span id="productName" class="form-control">{{order.productName}}</span>
        </div>

        <div class="form-group">
            <label for="purchasePrice">Valor (R$):</label>
            <span id="purchasePrice" class="form-control">{{order.purchasePrice}}</span>
        </div>

    </fieldset>

    <hr />

    <button ng-click="checkout()" class="btn btn-primary">Linkar!</button>

  </form>

    <hr />

    <div id="pnl_message">{{mensagem}}</div>

</div>
