<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="linkar">


<head>
    <title>Linkar</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <style type='text/css'>
        .fieldset {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>

<body ng-controller="PurchaseController">


<div class="container">

    <h1>Linkar!</h1>

    <fieldset class="fieldset">
        <legend>Cliente</legend>

        <div class="form-group">
            <label for="customerEmail">customerId:</label>
            <input type="text" id="customerEmail" ng-model="purchase.customerEmail" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="customerPassword">customerPassword:</label>
            <input type="password" id="customerPassword" ng-model="purchase.customerPassword" class="form-control"/>
        </div>

    </fieldset>

    <fieldset class="fieldset">
        <legend>Loja</legend>

        <input type="hidden" id="storeId" ng-model="purchase.storeId" class="form-control"/>

        <div class="form-group">
            <label for="storePassword">storePassword:</label>
            <input type="password" id="storePassword" ng-model="purchase.storePassword" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="storeName">storeName:</label>
            <input type="text" id="storeName" ng-model="purchase.storeName" class="form-control"/>
        </div>

    </fieldset>

    <fieldset class="fieldset">
        <legend>Produto</legend>

        <input type="hidden" id="productId" ng-model="purchase.productId" class="form-control"/>

        <div class="form-group">
            <label for="productName">productName:</label>
            <input type="text" id="productName" ng-model="purchase.productName" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="purchasePrice">purchasePrice:</label>
            <input type="text" id="purchasePrice" ng-model="purchase.purchasePrice" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="earnedPoints">earnedPoints:</label>
            <input type="text" id="earnedPoints" ng-model="purchase.earnedPoints" class="form-control"/>
        </div>

    </fieldset>

    <button ng-click="checkout()" class="btn btn-primary">salvar</button>

    <div id="pnl_message">{{mensagem}}</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/controller/PurchaseController.js"></script>
</body>


</html>