<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="linkar">


<head>
    <title>Linkar</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <style type='text/css'>
        .fieldset {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>

<body ng-controller="PurchaseController">


<div class="container">

    <br />

    <div class = "row">
        <div class = "center-block" style = "width:400px;">
            <img src="/img/logo_linkar.png" alt="Linkar" />
        </div>
    </div>

    <hr />

    <fieldset class="fieldset">
        <legend>Autenticação do Cliente</legend>

        <div class="form-group">
            <label for="customerEmail">e-mail:</label>
            <input type="text" id="customerEmail" ng-model="purchase.customerEmail" class="form-control" placeholder="seu@email.com"/>
        </div>

        <div class="form-group">
            <label for="customerPassword">senha:</label>
            <input type="password" id="customerPassword" ng-model="purchase.customerPassword" class="form-control"/>
        </div>

    </fieldset>

    <hr />

    <fieldset class="fieldset">
        <legend>Autenticação {{purchase.storeName}}</legend>

        <input type="hidden" id="storeId" ng-model="purchase.storeId" class="form-control"/>

        <div class="form-group">
            <label for="storePassword">Password:</label>
            <input type="password" id="storePassword" ng-model="purchase.storePassword" class="form-control"/>
        </div>

    </fieldset>

    <hr />

    <fieldset class="fieldset">
        <legend>Dados da compra</legend>

        <input type="hidden" id="productId" ng-model="purchase.productId" class="form-control"/>

        <div class="form-group">
            <label for="productName">Produto:</label>
            <span id="productName" class="form-control">{{purchase.productName}}</span>
        </div>

        <div class="form-group">
            <label for="purchasePrice">Valor (R$):</label>
            <span id="purchasePrice" class="form-control">{{purchase.purchasePrice}}</span>
        </div>

        <div class="form-group">
            <label for="earnedPoints">Pontos Linkar:</label>
            <span id="earnedPoints" class="form-control">
                R$ {{purchase.purchasePrice}} / 1,3 = {{purchase.earnedPoints}} pts
            </span>
        </div>

    </fieldset>

    <hr />

    <button ng-click="checkout()" class="btn btn-primary">Linkar!</button>

    <hr />

    <div id="pnl_message">{{mensagem}}</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/controller/PurchaseController.js"></script>
</body>


</html>