<!DOCTYPE html>
<html ng-app="linkar">


    <head>
        <title>Linkar</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    </head>

    <body>


        <a href="/store/new">nova loja</a>
        |
        <a href="/store/list">lojas</a>
        |
        <a href="/product/new">novo produto</a>
        |
        <a href="/product/list">produtos</a>
        |
        <a href="/user/new">novo usuário</a>
        |
        <a href="/user/list">usuários</a>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="/js/app/app.js"></script>

    </body>


</html>