<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Linkar</title>

    </head>

    <body>


        <a href="/store/new">nova loja</a>
        |
        <a href="/store/list">lojas</a>
        |
        <a href="/product/new">novo produto</a>
        |
        <a href="/product/list">produtos</a>

        <div id="qrcode"></div>


        <script src="/qrcode.js"></script>

        <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), "http://clubelinkar.com.br/checkout/abc123loja/xyz321produto");
        </script>


    </body>


</html>