<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Linkar</title>

    </head>

    <body>


        <a href="/store/new">nova loja</a>
        |
        <a href="/store/list">lojas</a>
        |
        <a href="/product/new">novo produto</a>
        |
        <a href="/product/list">produtos</a>

        <div id="reader" style="width:300px;height:250px">
        </div>

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

        <script src="/html5-qrcode.min.js"></script>

        <script type="text/javascript">

            $(function () {
                $('#reader').html5_qrcode(function(data){
                            // do something when code is read
                        },
                        function(error){
                            //show read errors
                        }, function(videoError){
                            //the video stream could be opened
                        }
                );
            });


        </script>


    </body>


</html>