<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Linkar - Loja Colaborativa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Bem vindo à Linkar, <span th:text="${name}"></span>! Sua loja colaborativa.
</p>

<p>
    Você já pode visitar as lojas associadas e começar a acumular seus pontos Linkar! <br/>
    Acumule pontos e troque por ofertas.
</p>

<p>
    Para te dar um incentivo, seus primeiros Pontos Linkar são por nossa conta: creditamos 10 pontos à sua conta.
</p>

<p>
    Aproveite!
</p>

<p>
    Essa mensagem foi enviada em <span th:text="${#dates.format(date)}"></span>
</p>

</body>
</html>